@model IEnumerable<UserProject.RequestView>

@{

    ViewBag.Title = "AllRequests";
}

<head>
    <style>
        a {
            color: black;
        }

            a:hover {
                color: wheat
            }

        td, th, tr {
            text-align: center;
        }
    </style>
</head>

<h2 dir="rtl">لیست درخواست ها</h2>
<form dir="rtl" action="AllRequests">
    <h3>جستجو بر اساس تاریخ:</h3>

    از تاریخ: @Html.TextBox("date1", "", new { @class = "form-control", @placeholder = ViewBag.CurrentDate })
    تا تاریخ: @Html.TextBox("date2", "", new { @class = "form-control", @placeholder = ViewBag.CurrentDate })

    <input type="submit" value="Search" style="margin:7px" />
</form>

<div dir="rtl">

    @using (Html.BeginForm())
    {
        @Html.DropDownList("name", ViewBag.AllUsers as SelectList, "نام کاربر", new { onchange = "this.form.submit();" })


        List<SelectListItem> items = new List<SelectListItem>();
        items.Add(new SelectListItem { Text = "تایید شده", Value = "تایید شده" });
        items.Add(new SelectListItem { Text = "رد شده", Value = "رد شده" });
        items.Add(new SelectListItem { Text = "در انتظار تایید", Value = "در انتظار تایید" });
        items.Add(new SelectListItem { Text = "همه", Value = "همه", Selected = true });


        @Html.DropDownList("state", items, "وضعیت", new { onchange = "this.form.submit();" })

    }

</div>
<br />
<table class="table" style="color:black" dir="rtl">
    <tr dir="rtl">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NationalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExitTime)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.WorkingTime)
        </th>
        <th>@Html.DisplayNameFor(model => model.State)</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr dir="rtl">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NationalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExitTime)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.WorkingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @if (item.State == "در انتظار تایید")
                {
                    @Html.ActionLink("تایید درخواست | ", "SetState", new { id = item.UserID, date = item.Date, RequestState = "تایید شده" })

                    @Html.ActionLink("رد درخواست", "SetState", new { id = item.UserID, date = item.Date, RequestState = "رد شده" })
                }
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.ID })
                </td>*@
        </tr>
    }

</table>
<h3 dir="rtl" style="color:black">
    مدت زمان کار: @ViewBag.AllWorkingTime
</h3>
