@using UserProject
@using System.ComponentModel.DataAnnotations;


@model IEnumerable<UserProject.RequestView>

@{
    ViewBag.Title = "Index";
}


<head>
    <style>
        a {
            color: black;
            text-decoration: none;
        }

            a:hover {
                color: blue;
            }

        td, th, tr {
            text-align: center;
        }
    </style>
</head>
<h2 dir="rtl">درخواست ها</h2>

<p dir="rtl">
    @Html.ActionLink("ثبت درخواست جدید", "Create")
</p>
@using (Html.BeginForm())
{
    List<SelectListItem>
                items = new List<SelectListItem>
                    ();
    items.Add(new SelectListItem { Text = "تایید شده", Value = "تایید شده" });
    items.Add(new SelectListItem { Text = "رد شده", Value = "رد شده" });
    items.Add(new SelectListItem { Text = "در انتظار تایید", Value = "در انتظار تایید" });
    items.Add(new SelectListItem { Text = "همه", Value = "همه", Selected = true });

    @*<div dir="rtl" class="col-md-6">
            <br />
            @Html.DropDownList("state", items, "وضعیت", new { onchange = "this.form.submit();" })

        </div>*@


    <div dir="rtl" @*class="col-md-6"*@ style="        margin: 10px">
        <h3>جستجو بر اساس تاریخ:</h3>

        <h4 style="        color: black">از تاریخ:</h4> @Html.TextBox("date1", "", new { @class = "form-control", @placeholder = ViewBag.CurrentDate })

        <h4 style="        color: black">تا تاریخ:</h4> @Html.TextBox("date2", "", new { @class = "form-control", @placeholder = ViewBag.CurrentDate })
        <input style="        margin: 5px" type="submit" value="Search" />

    </div>


}
<div style="margin:20px">
    @Html.ActionLink("رد شده ها", "Index", new { requestType = State.rejected }, new { style = "margin:5px; padding:10px; background-color:chartreuse;" })
    @*<a href="#" style="margin:5px; padding:10px; background-color:chartreuse;">رد شده ها</a>*@

    @Html.ActionLink("در انتظار تایید ها", "Index", new { requestType = State.Processing }, new { style = "margin:5px; padding:10px; background-color:chartreuse;" })
    @*<a href="#" style="margin:5px; padding:10px; background-color:chartreuse;">در انتظار تایید ها</a>*@

    @Html.ActionLink("تایید شده ها", "Index", new { requestType = State.accepted }, new { style = "margin:5px; padding:10px; background-color:chartreuse;" })
    @*<a href="#" style="margin:5px; padding:10px; background-color:chartreuse;">تایید شده ها</a>*@

</div>

<table class="table" dir="rtl" style="color:black">
    <tr dir="rtl">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
            @*@Html.ActionLink("تاریخ", "Index", new { sortOrder = "Date" })*@

        </th>
        <th>
            @Html.DisplayNameFor(model => model.DayOfWeek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExitTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingTime)
            @*@Html.ActionLink("مدت زمان کار", "Index", new { sortOrder = "WorkingTime" })*@

        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr dir="rtl">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DayOfWeek)
            </td>
            <td>
                @if (item.State == UserProject.State.Processing && item.ArrivalTime != "-")
                {
                    <label>در خواست ارسال شد</label>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.ArrivalTime)
                }
            </td>
            <td>
                @if (item.State == UserProject.State.Processing && item.ExitTime != "-")
                {
                    <label>در خواست ارسال شد</label>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.ExitTime)
                }
            </td>
            <td>
                @if (item.State == UserProject.State.Processing)
                {
                    <label>-</label>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.WorkingTime)
                }
            </td>
            <td>
                @{string x = item.State.DisplayName();} 
                @Html.DisplayFor(modelItem => x)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |*@
                @*@Html.ActionLink("Details", "Details", new { id = item.ID })*@
                @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
            </td>
        </tr>
    }

</table>
<h3 dir="rtl" style="color:black">
    مدت زمان کار: @ViewBag.AllWorkingTime
</h3>

